{% extends "./template.html" %}

{% block content %}

<!-- Game finished alert -->
<div class="container-fluid p-5">
  {% if player %}
    {% if player.score < 105 %}
      <div class="alert alert-success text-center">
            <p><strong><span style="color: red;">OLD OLD OLD OLD OLD OLD OLD.</span></strong></p>
        <strong>Gratulujeme, podařilo se Ti Gargamela porazit!</strong> Získané body: <strong>{{ player.score }}</strong>.<br>
        <strong>Kam dál?</strong> Vyzkoušej další zábavné <a href="https://regexcrossword.com/" alt="Regexove krizovky" target="_blank" rel="noopener noreferrer">regexové hlavolamy</a>.
        <img class="mx-auto d-block mb-3" src="https://clipground.com/images/trophy-clipart-19.jpg" alt="Gargamel" width="300"/>
        <form action="{% url 'game23:index' %}" method="get">
          {% csrf_token %}
          <button type="submit" class="mt-3 btn btn-primary">Zpět na úvodní stránku</button>
        </form>
      </div>
    {% else %}
      <div class="alert alert-danger text-center">
            <p><strong><span style="color: red;">OLD OLD OLD OLD OLD OLD OLD.</span></strong></p>
        <strong>Gargamel zvítězil a ovládl svět.</strong> Získané body: <strong>{{ player.score }}</strong>.<br>
        <strong>Kam dál?</strong> Vyzkoušej další zábavné <a href="https://regexcrossword.com/" alt="Regexove krizovky" target="_blank" rel="noopener noreferrer">regexové hlavolamy</a>.
        <img class="mx-auto d-block mb-3" src="http://static1.wikia.nocookie.net/__cb20130715165412/smurfsfanon/images/3/3b/Gargamel_(SA).gif" alt="Gargamel" width="300"/>
        <form action="{% url 'game23:index' %}" method="get">
          {% csrf_token %}
          <button type="submit" class="mt-3 btn btn-primary">Zpět na úvodní stránku</button>
        </form>
      </div>
    {% endif %}
  {% else %}

  <div class="container">
    <!-- Intro -->
    <h4 class="text-center">
      Umělá inteligence ŽblebtGPT 5.0 ovládla většinu světa. Jen Ty, tajný agent v záloze speciálně vycvičený pro boj s umělou inteligencí, můžeš lidstvo zachránit!
    </h4>
    <img class="mx-auto d-block mb-3 mt-5" src="https://static.wikia.nocookie.net/shodan/images/0/09/SHODAN_1.jpg/revision/latest?cb=20120425063949" alt="Shodan" width="300"/>

    <hr class="bg-secondary border-2 border-top border-secondary mt-5" />

    <h1 class="text-center mb-3 mt-5">Jak hrát?</h1>
    <p class="fs-5">Čeká tě několik různých misí. V každé misi budeš mít za úkol vymyslet textový řetězec, který bude splňovat všechny uvedené podmínky.
    Textový řetězec je jakákoliv sekvence znaků, tedy ne nutně pouze alfanumerických. <b>Příklad řetězce:</b> <code>Abc_5 3f</code>.</p>

    <p class="fs-5">Pokud Tvůj řetězec nebude splňovat některé z podmínek, hra dané podmínky označí, abys věděl, kde jsi udělal chybu.
    <b>Avšak pozor:</b> v závislosti na zvolené obtížnosti můžeš být za každý chybný pokus bodově penalizován!</p>

    <h1 class="text-center mb-3 mt-5">Za koho chceš hrát?</h1>
    <!-- Start game form -->
    <form autocomplete="off" action="{% url 'game23:start_game' %}" method="post">
      {% csrf_token %}
      <!-- Avatar Selection -->
      <!-- Doom Slayer, Hackerman -->
      <div class="row row-cols-1 row-cols-md-3 g-5">
        <!-- Pikachu -->
        <div class="col">
          <div class="card shadow-sm h-100">
            <img class="card-img-top" style="height: 13vw; object-fit: cover;" src="https://c.tenor.com/tZVpbfTIjNMAAAAM/pikachu.gif" alt="Pikaču"/>
            <div class="card-body">
              <h5 class="card-title">Zajímá mě jen příběh.</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Obtížnost: <span style="color: green">Jednoduchá</span></b></li>
                <li class="list-group-item list-group-item-success">Méně podmínek v každé misi.</li>
                <li class="list-group-item list-group-item-success">Možnost využít nápovědu.</li>
                <li class="list-group-item list-group-item-success">Žádná penalizace za špatnou odpověď.</li>
                <li class="list-group-item list-group-item-danger">Málo bodů za každý úspěšně vyřešený úkol.</li>
              </ul>   
            </div>
            <div class="card-body d-flex flex-column">         
              <input type="radio" class="btn-check" name="avatar" id="pikachu">
              <label class="btn btn-outline-primary w-100 mt-auto" for="pikachu">Pikaču</label>
            </div>
          </div>
        </div>
        <!-- Doom Slayer -->
        <div class="col">
          <div class="card shadow-sm h-100">
            <img class="card-img-top" style="height: 13vw; object-fit: cover;" src="https://media.tenor.com/enYPjlc7Xk8AAAAd/doom.gif" alt="Slayer"/>
            <div class="card-body">
              <h5 class="card-title">Nebojím se výzvy.</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Obtížnost: <span style="color: orange">Normální</span></b></li>
                <li class="list-group-item list-group-item-success">Standardní počet podmínek v každé misi.</li>
                <li class="list-group-item list-group-item-success">Malá penalizace za špatnou odpověď.</li>
                <li class="list-group-item list-group-item-danger">Žádná nápověda.</li>
                <li class="list-group-item list-group-item-danger">Standardní počet bodů za každý úspěšně vyřešený úkol.</li>
              </ul>   
            </div>
            <div class="card-body d-flex flex-column">
              <input type="radio" class="btn-check" name="avatar" id="doom" checked>
              <label class="btn btn-outline-primary w-100 mt-auto" for="doom">Doom Slayer</label>
            </div>
          </div>
        </div>
        <!-- Hackerman -->
        <div class="col">
          <div class="card shadow-sm h-100">
            <img class="card-img-top" style="height: 13vw; object-fit: cover;" src="https://media0.giphy.com/media/3knKct3fGqxhK/giphy.gif?cid=ecf05e475kjqlsxiuun8n7jowzq8itwvgmlhkxg2zgo0abxp&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="Hackerman"/>
            <div class="card-body">
              <h5 class="card-title">I was born for this.</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Obtížnost: <span style="color: red">Těžká</span></b></li>
                <li class="list-group-item list-group-item-success">Hodně bodů za každý úspěšně vyřešený úkol.</li>
                <li class="list-group-item list-group-item-danger">Dodatečná podmínka v každé misi.</li>
                <li class="list-group-item list-group-item-danger">Žádná nápověda.</li>
                <li class="list-group-item list-group-item-danger">Větší penalizace za špatnou odpověď.</li>
              </ul>   
            </div>
            <div class="card-body d-flex flex-column">
              <input type="radio" class="btn-check" name="avatar" id="hackerman">
              <label class="btn btn-outline-primary w-100 mt-auto" for="hackerman">Hackerman</label>
            </div>
          </div>
        </div>        
      </div>

      <!-- Name form -->
      <h1 class="text-center mb-3 mt-5">Jak se budeš jmenovat?</h1>
      <div class="row g-3 justify-content-md-center">
        <div class="col-auto">
          <input type="text" class="form-control" id="plname" name="plname" placeholder="Zadej své jméno">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary px-4">Hrát</button>
        </div>
      </div>

      {% if error_message %}
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="alert alert-danger col-sm-4">
            <strong>Chyba!</strong> {{ error_message }}
          </div>
        </div>
      {% endif %}
    </form>

    <!--
    <div class="accordion mt-5" id="navod">
      <div class="accordion-item border-primary">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Co jsou regexy?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
          <p><strong><span style="color: red;">OLD OLD OLD OLD OLD OLD OLD.</span></strong></p>
          {% comment %}
           {% include "./regex-help.html" %}
          {% endcomment %}
        </div>
      </div>
    </div>
    -->
  </div>
  {% endif %}
</div>


<!-- Leaderboard -->
<div class="container">
  <hr class="bg-secondary border-2 border-top border-secondary mt-5" />
  <h1 class="text-center mt-5">Žebříček hráčů</h2>
  <div class="bg-grey flex-fill">
    {% if highscore_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Hráč</th>
          <th>Začátek hry</th>
          <th>Délka hry</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for player in highscore_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.time_begin_str }}</td>
            <td>{{ player.duration_str }}</td>
            <td>{{ player.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <p>Žádný hráč zatím hru nedokončil.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
