{% extends "./template.html" %}

{% block content %}

<!-- Game finished alert -->
<div class="container-fluid p-5">
  {% if player %}
  <div class="container">
    <div class="row">
      <!-- Left column with the task, conditions and reply form -->
      <div class="col-md-9">
      {% if player.difficulty.name == "Jednoduchá" and player.score >= 60 or player.difficulty.name == "Normální" and player.score >= 100 or player.difficulty.name == "Těžká" and player.score >= 380 %}
        <div class="alert alert-success text-center">
          <strong>Gratulujeme, podařilo se Ti zabránit nadvládě umělé inteligence a zániku celého lidstva!</strong><br>
          <strong>Kam dál?</strong> Vyzkoušej další zábavné <a href="https://neal.fun/password-game/" alt="Hesla" target="_blank" rel="noopener noreferrer">hlavolamy s podmínkami</a> nebo <a href="https://regexcrossword.com/" alt="Regexove krizovky" target="_blank" rel="noopener noreferrer">regexové hlavolamy</a>.
          <img class="rounded-3 mx-auto d-block my-4 border-success img-fluid" src="https://miro.medium.com/v2/resize:fit:768/1*smXziyrd2Iv6t5fhXf3jpw.jpeg" alt="Vitezstvi" width="640px"/>
          <form action="{% url 'game23:index' %}" method="get">
            {% csrf_token %}
            <button type="submit" class="mt-3 btn btn-primary">Zpět na úvodní stránku</button>
          </form>
        </div>
      {% else %}
        <div class="alert alert-danger text-center">
          <strong>Umělá inteligence zvítězila a ovládla svět.</strong><br>
          <strong>Kam dál?</strong> Vyzkoušej další zábavné <a href="https://neal.fun/password-game/" alt="Hesla" target="_blank" rel="noopener noreferrer">hlavolamy s podmínkami</a> nebo <a href="https://regexcrossword.com/" alt="Regexove krizovky" target="_blank" rel="noopener noreferrer">regexové hlavolamy</a>.
          <img class="rounded-3 mx-auto d-block my-4 border-danger img-fluid" src="https://images.theconversation.com/files/32998/original/64hch4w4-1381733118.jpg" alt="Prohra" width="640"/>
          <form action="{% url 'game23:index' %}" method="get">
            {% csrf_token %}
            <button type="submit" class="mt-3 btn btn-primary">Zpět na úvodní stránku</button>
          </form>
        </div>
      {% endif %}
      </div>
      <!-- Right column with player stats -->
      <div class="col col-auto col-md-3">

        <!-- Player -->
        <div class="card">
          <img class="card-img-top" src="{{ player.difficulty.avatar_url }}" alt="{{ player.difficulty.avatar }}" style="height: 175; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Agent {{ player.name }}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i>Krycí jméno: </i>{{ player.difficulty.avatar }}</li>
              <li class="list-group-item"><i>Obtížnost: </i>
                <span style="color: {% if player.difficulty.name == 'Těžká' %}red{% elif player.difficulty.name == 'Normální' %}orange{% else %}green{% endif %}">{{ player.difficulty.name }}</span>
              </li>
              <li class="list-group-item"><i>Score: </i>{{ player.score }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  <div class="container">
    <!-- Intro -->
    <h4 class="text-center">
      Umělá inteligence ŽblebtGPT 5.0 ovládla většinu světa. Jen Ty, tajný agent v záloze speciálně
      vycvičený pro boj s umělou inteligencí, můžeš lidstvo zachránit!
    </h4>
    <div class="alert alert-danger border-danger text-center mt-4">
      <img class="img-fluid" src="https://hard-drive.net/wp-content/uploads/2022/07/mcu-ai-1024x538.jpg" alt="AI"/>
    </div>
    <hr class="bg-secondary border-2 border-top border-secondary mt-5" />

    <h1 class="text-center mb-3 mt-5">Jak hrát?</h1>
    <p class="fs-5">Čeká tě několik různých misí. V každé misi budeš mít za úkol vymyslet textový
    řetězec, který bude splňovat všechny uvedené podmínky. Textový řetězec je jakákoliv sekvence
    znaků, tedy ne nutně pouze alfanumerických. <b>Příklad řetězce:</b> <code>Abc_5 3f</code>.</p>

    <p class="fs-5">Za každou úspěšně vyřešenou misi obdržíš body. Množství obdržených bodů může být
    dále ovlivněno délkou Tebou zadaného řetězce, přičemž platí, že <b>čím kratší řetězec, tím více
    bodů</b> za misi obdržíš!</p>

    <p class="fs-5">Pokud Tvůj řetězec nebude splňovat některé z podmínek, hra dané podmínky označí,
    abys věděl, kde jsi udělal chybu. <b>Avšak pozor:</b> v závislosti na zvolené obtížnosti můžeš
    být za každý chybný pokus bodově penalizován!</p>

    <p class="fs-5">Pokud si s nějakou misí nevíš rady, můžeš ji buď přeskočit, nebo se zeptat
    organizátorů o radu. Podobně jako v případě neúspěšného pokusu o vyřešení <b>však můžeš být
    penalizován</b> (opět v závislosti na zvolené obtížnosti).</p>

    <h1 class="text-center mb-3 mt-5">Za koho chceš hrát?</h1>
    <!-- Start game form -->
    <form autocomplete="off" action="{% url 'game23:start_game' %}" method="post">
      {% csrf_token %}
      <!-- Avatar Selection -->
      <!-- Doom Slayer, Hackerman -->
      <div class="row row-cols-1 row-cols-md-3 g-5">
        <!-- Pikachu -->
        <div class="col">
          <div class="card shadow-sm h-100">
            <img class="card-img-top" style="height: 250px; object-fit: cover;" src="https://c.tenor.com/tZVpbfTIjNMAAAAM/pikachu.gif" alt="Pikaču"/>
            <div class="card-body">
              <h4 class="card-title">Zajímá mě jen příběh.</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Obtížnost: <span style="color: green">Jednoduchá</span></b></li>
                <li class="list-group-item list-group-item-success">Zjednodušené verze některých misí.</li>
                <li class="list-group-item list-group-item-success">Žádná penalizace za přeskočení mise.</li>
                <li class="list-group-item list-group-item-success">Žádná penalizace za špatnou odpověď.</li>
                <li class="list-group-item list-group-item-success">Lze vyhrát i bez znalosti programování.</li>
                <li class="list-group-item list-group-item-danger">Málo bodů za každou úspěšně vyřešenou misi.</li>
              </ul>   
            </div>
            <div class="card-body d-flex flex-column">         
              <input type="radio" class="btn-check" name="avatar" id="pikachu" value="Pikaču">
              <label class="btn btn-outline-primary w-100 mt-auto" for="pikachu">Pikaču</label>
            </div>
          </div>
        </div>
        <!-- Doom Slayer -->
        <div class="col">
          <div class="card shadow-sm h-100">
            <img class="card-img-top" style="height: 250px; object-fit: cover;" src="https://media.tenor.com/enYPjlc7Xk8AAAAd/doom.gif" alt="Slayer"/>
            <div class="card-body">
              <h4 class="card-title">Nebojím se výzvy.</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Obtížnost: <span style="color: orange">Normální</span></b></li>
                <li class="list-group-item list-group-item-success">Průměrně obtížná verze některých misí.</li>
                <li class="list-group-item list-group-item-success">Standardní počet bodů za každou úspěšně vyřešenou misi.</li>
                <li class="list-group-item list-group-item-success">Lze vyhrát i bez znalosti programování.</li>
                <li class="list-group-item list-group-item-danger">Malá penalizace za špatnou odpověď.</li>
                <li class="list-group-item list-group-item-danger">Malá penalizace za přeskočení mise.</li>
              </ul>   
            </div>
            <div class="card-body d-flex flex-column">
              <input type="radio" class="btn-check" name="avatar" id="doom" value="Doom Slayer" checked>
              <label class="btn btn-outline-primary w-100 mt-auto" for="doom">Doom Slayer</label>
            </div>
          </div>
        </div>
        <!-- Hackerman -->
        <div class="col">
          <div class="card shadow-sm h-100">
            <img class="card-img-top" style="height: 250px; object-fit: cover;" src="https://media0.giphy.com/media/3knKct3fGqxhK/giphy.gif" alt="Hackerman"/>
            <div class="card-body">
              <h4 class="card-title">I was born for this.</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Obtížnost: <span style="color: red">Těžká</span></b></li>
                <li class="list-group-item list-group-item-success">Hodně bodů za každou úspěšně vyřešenou misi.</li>
                <li class="list-group-item list-group-item-danger">Některé mise budou těžší.</li>
                <li class="list-group-item list-group-item-danger">Pro výhru je potřeba umět číst kód.</li>
                <li class="list-group-item list-group-item-danger">Větší penalizace za špatnou odpověď.</li>
                <li class="list-group-item list-group-item-danger">Větší penalizace za přeskočení mise.</li>
              </ul>   
            </div>
            <div class="card-body d-flex flex-column">
              <input type="radio" class="btn-check" name="avatar" id="hackerman" value="Hackerman">
              <label class="btn btn-outline-primary w-100 mt-auto" for="hackerman">Hackerman</label>
            </div>
          </div>
        </div>        
      </div>

      <!-- Name form -->
      <h1 class="text-center mb-3 mt-5">Jak se budeš jmenovat?</h1>
      <div class="row g-3 justify-content-md-center">
        <div class="col-auto">
          <input type="text" class="form-control" id="plname" name="plname" placeholder="Zadej své jméno">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary px-4">Hrát</button>
        </div>
      </div>

      {% if error_message %}
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="alert alert-danger col-sm-4">
            <strong>Chyba!</strong> {{ error_message }}
          </div>
        </div>
      {% endif %}
    </form>
  </div>
  {% endif %}
</div>


<!-- Leaderboard -->
<div class="container">
  <hr class="bg-secondary border-2 border-top border-secondary mt-5" />
  <h1 class="text-center mt-5">Žebříček nejlepších hráčů</h2>
  <div class="bg-grey flex-fill">
    {% if highscore_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Hráč</th>
          <th>Začátek hry</th>
          <th>Délka hry</th>
          <th>Avatar</th>
          <th>Obtížnost</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for player in highscore_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.time_begin_str }}</td>
            <td>{{ player.duration_str }}</td>
            <td>{{ player.difficulty.avatar }}</td>
            <td>{{ player.difficulty.name }}</td>
            <td>{{ player.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <p>Žádný hráč zatím hru nedokončil.</p>
    {% endif %}
  </div>
</div>
<div class="container w-auto my-4 text-center">
  <form action="{% url 'game23:solution' %}" method="get">
    {% csrf_token %}
    <button type="submit" class="mt-3 btn btn-primary">Zadat klíče</button>
  </form>
</div>

{% endblock %}
