{% extends "./template.html" %}

{% block content %}


<div class="container mt-4"> <!-- style="max-width: 90%"> -->
  <h2>Mise {{ task.num }}/{{ tasks_cnt }}: {{ task.title }}</h2>
  <div class="row">
    <!-- Left column with the task, conditions and reply form -->
    <div class="col col-md-9">

      <!-- Task description -->
      <div class="alert alert-info">
        {{ task.text|safe }}
      </div>

      <!-- Condition cards -->
      <div class="row gx-3 gy-3">
        {% for cond, satisfied in conditions.items %}
        <div class="col-12 col-md-6">
          {% if satisfied is None %}
          <div class="card h-100">
            <div class="card-header">Podmínka {{ forloop.counter }}</div>
            <div class="card-body">
              <p class="card-text">{{ cond.text|safe }}</p>
            </div>
          </div>
          {% elif satisfied %}
          <div class="card h-100 border-success">
            <div class="card-header bg-cond-header-success">
              <img src="https://neal.fun/password-game/checkmark.svg" style="height: 19px; width: 19px;">
              <span>Podmínka {{ forloop.counter }}</span>
            </div>
            <div class="card-body bg-cond-success">
              <p class="card-text">{{ cond.text|safe }}</p>
            </div>
          </div>
          {% else %}
          <div class="card h-100 border-danger">
            <div class="card-header bg-cond-header-fail">
              <img src="https://neal.fun/password-game/error.svg" style="height: 19px; width: 19px;">
              <span>Podmínka {{ forloop.counter }}</span>
            </div>
            <div class="card-body bg-cond-fail">
              <p class="card-text">{{ cond.text|safe }}</p>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <!-- Submit Form -->
      <div class="container mb-5">
        <form autocomplete="off" action="{% url 'game23:answer' player.id %}" method="post">
          {% csrf_token %}
          <div class="row mt-4 justify-content-center">
            <label class="col-sm-auto col-form-label" for="result"><strong>Odpověď:</strong></label>
            <div class="col-sm-auto">
              {% if result %}
                <input type="text" class="form-control" id="result" name="result" value="{{ result }}" oninput="countChars('result', 'displayto')">
              {% else %}
                <input type="text" class="form-control" id="result" name="result" placeholder="Zadejte odpověď" oninput="countChars('result', 'displayto')">
              {% endif %}
            </div>
            <div class="col-sm-auto col-form-label"><span id="displayto">{{ result_len }}</span></div>
          </div>
          <div class="row my-2 justify-content-center">
            <div class="col-sm-auto">
              <button type="submit" name="submit" class="btn btn-success">Odpovědět</button>
            </div>
            <div class="col-sm-auto">
              <button type="submit" name="skip" class="btn btn-warning">Přeskočit</button>
            </div>
            <div class="col-sm-auto">
              <button type="submit" name="giveup" class="btn btn-danger">Ukončit</button>
            </div>
          </div>
          {% if error_message %}
          <div class="row my-3 justify-content-center">
            <div class="alert alert-danger col-auto">
              <strong>Chyba!</strong> {{ error_message }}
            </div>
          </div>
          {% endif %}
        </form>
      </div>

    </div>

    <!-- Right column with player stats -->
    <div class="col col-auto col-md-3">

      <!-- Player -->
      <div class="card mb-5">
        <img class="card-img-top" src="{{ player.difficulty.avatar_url }}" alt="{{ player.difficulty.avatar }}" style="height: 175px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Agent {{ player.name }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i>Krycí jméno: </i>{{ player.difficulty.avatar }}</li>
            <li class="list-group-item"><i>Obtížnost: </i>
              <span style="color: {% if player.difficulty.name == 'Těžká' %}red{% elif player.difficulty.name == 'Normální' %}orange{% else %}green{% endif %}">{{ player.difficulty.name }}</span>
            </li>
            <li class="list-group-item"><i>Score: </i>{{ player.score }}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
