{% if player %}
<h1>Konec hry!</h1>
<table>
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.score }}</td>
    </tr>
</table>
{% endif %}

<form action="{% url 'regular_game:start_game' %}" method="post">
  {% csrf_token %}
  {% if error_message %}<p><font color="red">{{ error_message }}</font></p>{% endif %}
  <label for="plname">Jméno:</label>
  <input type="text" id="plname" name="plname"><br>
  <input type="submit" value="Nová hra">
</form>

<h1>High Score</h1>
{% if highscore_list %}
<table>
    <tr>
      <th>Hráč</th>
      <th>Začátek hry</th>
      <th>Délka hry</th>
      <th>Score</th>
    </tr>
    {% for player in highscore_list %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.time_begin }}</td>
        <td>{{ player.duration }}</td>
        <td>{{ player.score }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Žádný hráč zatím hru nedokončil.</p>
{% endif %}

{% if player %}
<form action="{% url 'regular_game:index' %}" method="get">
  {% csrf_token %}
  <input type="submit" value="Na úvodní stránku">
</form>
{% endif %}
