{% extends "./template.html" %}

{% block content %}


<!-- Task description -->
<div class="container-fluid px-4 py-2">
  <h2>{{ task.num }}: {{ task.title }}</h2>
  <div class="alert alert-info">
    {{ task.text|safe }}
  </div>
</div>


<div class="container-fluid px-4 py-0 bg-grey">
  <!-- Score + Best solution -->
  <div class="row">
    <div class="col">
      <h3>Score: {{ player.score }} </h3>
    </div>
    <div class="col text-end">
      {% if best_sol_len %}
      <h3>Délka nejlepšího řešení: {{ best_sol_len }} (hráč "{{ best_sol_player.name }}")</h3>
      {% endif %}
    </div>
  </div>
  <!-- Progress bar -->
  <div class="progress" style="height: 20px">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Task progress" 
    style="width: {{ progress }}%" aria-valuenow="{{ task.num }}" aria-valuemin="0" aria-valuemax="6">
      <strong style="font-size: 15px">{{ tasks_done }} / {{ tasks_cnt }}</strong>
    </div>
  </div>
</div>


<!-- Long Strings -->
{% if task.num == 11 %}
<div class="container-fluid p-4 bg-grey">
  <!-- Valid strings -->
  <div class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="card text-white bg-success mb-3 h-100">
        <div class="card-header">Potřeba zachytit</div>
        <div class="card-body">
<pre class="card-text">
{% for snippet in pos_snips %}
{{ snippet.text }}
{% endfor %}
</pre>
        </div>
      </div>
    </div>
  </div>
  <!-- Invalid strings -->
  <div class="row align-items-md-stretch mt-3">
    <div class="col-md-12">
      <div class="card text-white bg-danger mb-3 h-100">
        <div class="card-header">Musí projít</div>
        <div class="card-body">
<pre>
{% for snippet in neg_snips %}
{{ snippet.text }}
{% endfor %}
</pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Short Strings -->
{% if task.num != 11 %}
<div class="container-fluid p-4 bg-grey">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="card text-white bg-success mb-3 h-100">
        <div class="card-header">Potřeba zachytit</div>
        <div class="card-body">
<pre class="card-text">
{% for snippet in pos_snips %}
{{ snippet.text }}
{% endfor %}
</pre>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-danger mb-3 h-100">
        <div class="card-header">Musí projít</div>
        <div class="card-body">
<pre>
{% for snippet in neg_snips %}
{{ snippet.text }}
{% endfor %}
</pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Submit Form -->
<form autocomplete="off" action="{% url 'regular_game:answer' player.id %}" method="post">
  {% csrf_token %}
  <div class="row mb-3 bg-grey py-2">
    <div class="col-sm-3"></div>
    <label class="col-sm-1 col-form-label" for="regex"><strong>Regex:</strong></label>
    <div class="col-sm-4 mb-3">
      {% if regex %}
        <input type="text" class="form-control" id="regex" name="regex" value="{{ regex }}">
      {% else %}
        <input type="text" class="form-control" id="regex" name="regex" placeholder="Zadejte regex">
      {% endif %}
    </div>
    <div class="col-sm-4">
      <button type="submit" name="submit" class="mx-1 btn btn-primary">Odpovědět</button>
      <button type="submit" name="skip" class="mx-1 btn btn-warning">Přeskočit</button>
      <button type="submit" name="giveup" class="mx-1 btn btn-danger">Ukončit</button>
    </div>
  </div>
  {% if error_message %}
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="alert alert-danger col-sm-6">
      <strong>Chyba!</strong> {{ error_message }}
    </div>
  </div>
  {% endif %}
</form>


<!-- Invalid short matches reporting -->
{% if task.num != 11 %}
  <div class="container-fluid p-4">
    <div class="row align-items-md-stretch">
      {% if bad_pos %}
      <div class="col-md-6">
        <div class="card border-danger mb-3">
          <div class="card-header">Nepodařilo se Ti zachytit tyto řetězce:</div>
          <div class="card-body text-danger">
<pre class="card-text">
{% for snippet in bad_pos %}
{{ snippet.text }}
{% endfor %}
</pre>
          </div>
        </div>
      </div>
      {% endif %}
      {% if bad_neg %}
      <div class="col-md-6">
        <div class="card border-danger mb-3">
          <div class="card-header">Zachytil jsi omylem tyto řetězce:</div>
          <div class="card-body text-danger">
<pre class="card-text">
{% for snippet in bad_neg %}
{{ snippet.text }}
{% endfor %}
</pre>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endif %}

<!-- Invalid long matches reporting -->
{% if task.num == 11 %}
<div class="container-fluid p-4">
  <!-- Valid strings -->
  {% if bad_pos %}
  <div class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="card border-danger mb-3">
        <div class="card-header">Nepodařilo se Ti zachytit tyto řetězce:</div>
        <div class="card-body text-danger">
<pre class="card-text">
{% for snippet in bad_pos %}
{{ snippet.text }}
{% endfor %}
</pre>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if bad_neg %}
  <!-- Invalid strings -->
  <div class="row align-items-md-stretch mt-3">
    <div class="col-md-12">
      <div class="card border-danger mb-3">
        <div class="card-header">Zachytil jsi omylem tyto řetězce:</div>
        <div class="card-body text-danger">
<pre class="card-text">
{% for snippet in bad_neg %}
{{ snippet.text }}
{% endfor %}
</pre>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}

<div class="container p-4">
  <!-- Help accordion -->
  <div class="accordion" id="navod">
    <!-- Regex intro -->
    <div class="accordion-item border-primary">
      <h2 class="accordion-header" id="helpOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp" aria-expanded="true" aria-controls="collapseHelp">
          Nápověda k regexům
        </button>
      </h2>
      <div id="collapseHelp" class="accordion-collapse collapse show" aria-labelledby="helpOne">
        {% include "./regex-help.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
